*{
    margin:0px;
    padding:0px;
    font-family: Montserrat, Microsoft YaHei, WenQuanYi Micro Hei;
}
.clearbox{
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
    border: 0px;
    float: none;
    clear: both;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none !important;
    color: white !important;
}
.main_top{
    height: 54px;
    width: 100%;
    /*background: rgba(0,0,0,.83);*/
    opacity: 1;
    top:0;
    z-index:99;
}
.menu{
    width: 79%;
    background: rgba(0,0,0,.83);
    position: relative;
    top:14px;
    left:10%;
    padding: 5% 5%;
    display:none;
}
.m_a td{
    padding-top: 10px;
    padding:10px;
}
.m_a a{
    text-decoration: none;
    color: #ffffff;
}
.logo{
    margin-top: 1%;
    margin-left: 3%;
    font-size: 40px;
    color: white;
}
.top_right{
    font-size: 14px;
    font-weight: bold;
    float: right;
    position: relative;
    top:16px;
    right: 4%;
}
.top_right2{
    display: none;
}
.top_right a{
    text-decoration: none;
    color: #fff;
}
.top_right td{
    padding-left: 20px;
}
.top_right img{
    cursor: pointer;
}
.main_midddle{
    background-image: url(../img/background.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.middle_img{
    padding-top: 4%;
}
.middle_text{
    font-size: 35px;
    color: white;
    margin-top: 14%;
}
.middle_text1{
    font-size: 16px;
    color: white;
    margin-top: 2%;
}
.middle_down{
    margin-top: 180px;
    margin-bottom: 15px;
}
.main_middle1{
    width: 100%;
    background-color: #5e5e5e;
    padding-left: 8%;
    padding-top: 6%;
}
.wwwtd{
    padding-bottom: 60px;
}
.wwwtd_img img{
    width: 80%;
}
.wwwtd h5{
    font-size: 30px;
    color: white;
}
.row{
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.wwwtd h6{
    color: #fff;
    font-size: 16px;
}
.wwwtd p{
    font-size: 13px;
    margin-top: 10px;
    color: white;
    width: 80%;
}
.wwwtd span{
    font-size: 20px;
    margin-top:10px;
    color: white;
    width: 40%;
}
.main_middle2{
    width: 100%;
}
.ss_01{
    float: left;
    width: 40%;
    background-color: #00acc2;
}
.ss_01 div{
    padding: 3% 3% 25% 3%;
}
.ss_01 h6{
    color: #ffffff;
    font-size: 32px;
    padding-top: 14%;
}
.onwater{
    color: #ffffff;
    font-size: 26px !important;
    padding-top: 4%;
}
.ss_01 p{
    color: #ffffff;
    padding-top: 6%;
}
.main_midddle3
{
    width: 100%;
    height: 70%;
    background-color: #5e5e5e;
}
.middle3_h{
    color: #fff;
    font-size: 44px;
    padding-top: 60px;
    margin-top: 0px !important;
}
.middle3_h1{
    color: #fff;
    font-size: 28px;
    letter-spacing: 10px;
}
.middle3_rectangle{
    width: 80%;
    border: 2px #1b80a4 solid;
    margin-top: 30px;
    line-height: 2em;
    color: #d2d2d2;
    font-size: 15px;
}
.cloud9{
    width: 50%;
}
.icon1{
    display: inline-block;
    width: 31%;
    height: 11%;
    margin-top:40px;
    margin-bottom: 10%;
}
.icon1 p{
    color: #0dacdc;
    padding-top: 10px;
}
.b_icon{
    padding: 40px;
    width: 332px;
    height: 30%;
    display: table-cell;
    float: none !important;
}
.b_icon img{
    padding-bottom: 30px;
}
.b_icon span{
    font-size: 18px;
    color: #ffffff;
    border:1px #0daada solid;
}
.b_icon p{
    font-size: 13px;
    height:15%;
    color: #ffffff;
    padding-top: 30px;
}
.b_icon table{
    width: 70%;
}
.b_icon table{
    border: 2px #0daada solid;
}
.first{
    border-bottom:2px #0daada solid;
    text-align: center;
    font-size: 30px;
    color: white;
}
.second{
    padding: 2% 3%;
    color: white;
}
.middle3_bottom{
    padding-top: 100px;
}
.middle3_bottom h4{
    color: #0daada;
    font-size: 30px;
}
.middle3_bottom p{
    color: #06adc6;
    font-size: 26px;
    margin-top: 30px;
    letter-spacing: 12px;
}
.middle_BYC{
    background: url(../img/cc.jpg)no-repeat center;
    background-size: cover;
    width: 100%;
}
.dashed{
    border: 1px #00aec4 dashed;
    margin-top: 80px;
}
.middle_BYC h1{
    font-size: 32px;
    color:white;
    margin: 0px !important;
    padding-top: 4%;
}
.byc{
    background-color: #21a2b5;
    width: 70%;
    margin-top: 2%;
    text-align: left;
    padding: 2% 3%;
    opacity: 0.8;
}
.rr{
    position:relative;
    top:-70px;
    width: 80%;
}
.byc {
    color: white;
    font-size: 16px;
}
.byc img{
    position: relative;
    top:1%;
    left: 30%;
}
.byc div{
    border: 2px solid white;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: relative;
    top:20px;
    right: 20px;
    display: inline-block;
}
.byc p{
    display: block;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-top: 8px;
    line-height: 30px;
}
.sjb{
    float:left;
}
.circle_b{
    border-radius: 100%;
    border: 4px #e9f6fa solid;
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    left:80%;
}
.circle_s{
    background-color: #fff ;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 20px;
    transform: scale(.8);
    color:#21a2b5 ;
    font-size: 32px;
}
.circle_s strong{
    position: relative;
    top:-55%;
    left: 10px;
}
.shc{
    position: absolute;
    top:30px;
}
.dash_bigr{
    border-radius: 100%;
    border: 4px #21a2b5 solid;
    width: 100px;
    height: 100px;
    display: block;
}
.dash_smallr{
    background-color: #21a2b5 ;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 90px;
    transform: scale(.8);
    color:#fff ;
    font-size: 32px;
}
.safe{
    background-color: #5e5e5e;
    width: 100%;
}
.main_middle4{
    width: 100%;
    background-image: radial-gradient(circle at center,#2b87da 0%,#29c4a9 100%)!important;
}
.main_middle4 p{
    font-size: 36px;
    color: white;
    padding-top: 155px;
    letter-spacing: 3px;
    width: 80%;
}
.buttons{
    padding: 33px;
}
.a{
    width: 600px;
    display: table-cell;
}
.apply{
    width: 130px;
    height: 38px;
    border: 1px white solid;
    border-radius: 3px;
    line-height: 38px;
    display: inline-block;
    animation-timing-function: linear;
    animation-duration: .2s;
    -ms-animation-timing-function: linear;
    -ms-animation-duration: .2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    -ms-transition: all .2s;
    -webkit-transition: all .2s;
}
.apply:hover{
    width: 150px;
    height: 38px;
    border: 1px white solid;
    border-radius: 3px;
    line-height: 38px;
    display: inline-block;
}
.apply a{
    text-decoration: none;
    color: white;
}
.apply:hover a{
    text-decoration: none;
    color: #dda709;
}
.apply img{
    display: none;
}
.apply:hover img{
    display: inline-block;
    position: relative;
}
.d{
    display: table-cell;
    width: 600px;
}
.download{
    width: 150px;
    height: 38px;
    border: 1px white solid;
    border-radius: 3px;
    line-height: 38px;
    display: inline-block;
}
.download a{
    text-decoration: none;
    color: white;
}
.download img{
    display: none;
}
.download:hover{
    width: 170px;
    height: 38px;
    border: 1px white solid;
    border-radius: 3px;
    line-height: 38px;
    display: inline-block;
}
.download:hover img{
    display: inline-block;
    position: relative;
}
.download a:hover{
    text-decoration: none;
    color: #dda709;
}
.details{
    border-radius: 50px;
    background-color: rgb(8, 143, 161);
    width: 96px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    margin-top: 50px;
}
.details a{
    text-decoration: none;
    color: #ffffff;
}
.details img{
    display: none;
}
.details:hover img{
    display: inline-block;
    position: relative;
}
.details:hover{
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.55);
    width: 127px;
    height: 36px;
    line-height: 36px;
    color: #ffffff;
    font-size: 16px;
    margin-top: 50px;
}
.swiper-slide h4{
    font-size: 35px;
    text-align: left;
    color: #ffffff;
    height: 100%;
}
.swiper-slide h5{
    font-size: 35px;
    text-align: left;
    color: #ffffff;
    letter-spacing: 10px;
    width: 100%;
}
.swiper-slide p{
    display: block;
    width: 80%;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
}
.swiper-slide .lay_out{
    display: -ms-flex;
    display: flex;
    display: -webkit-flex;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    padding:0 6%;
    height: 100%;
}
.sc_text1{
    position: relative;
    left: 6%;
    top: 90px;
    width: 30%;
}
.sc_text1 h6{
    font-size: 42px;
    color: #ffffff;
}
.sc_text1 span{
    font-size: 32px;
    color: #ffffff;
}
.sc_text1 p{
    font-size: 15px;
    color: #ffffff;
    padding-top: 20px;
    width: 30%;
}
.sc_text2{
    position: relative;
    left: 6%;
    top: 90px;
    width: 30%;
}
.sc_text2 h6{
    font-size: 42px;
    color: #ffffff;
}
.sc_text2 span{
    font-size: 32px;
    color: #ffffff;
}
.sc_text2 p{
    font-size: 15px;
    color: #ffffff;
    padding-top: 20px;
    width: 24%;
}
.sc_text3{
    position: relative;
    left: 6%;
    top: 90px;
    width: 30%;
}
.sc_text3 h6{
    font-size: 42px;
    color: #ffffff;
}
.sc_text3 span{
    font-size: 32px;
    color: #ffffff;
}
.sc_text3 p{
    font-size: 15px;
    width: 26%;
    color: white;
    padding-top: 20px;
}
.swiper-slide img{
    width: 60%;
    height: 40%;
}
.challenge{
    text-align: center;
    font-size: 37px;
    letter-spacing: 9px;
    color: #ffffff;
    width: 100%;
}
.text{
    width: 100%;
}
.c_text{
    font-size: 14px;
    width: 907px;
    color: #ffffff;
    text-align: left;
}
.method{
    display: block;
    width: 510px;
    height: 76px;
    padding-bottom: 10px;
    font-size: 38px;
    letter-spacing: 8px;
    color: #0dadde;
    text-align: center;
}
.main_middle5{
    width: 100%;
    background-color: #5e5e5e;
}
.team{
    color: #d2d2d2;
    font-size: 42px;
    padding-top: 60px;
}
.main_middle5 p{
    color: #d2d2d2;
    font-size: 32px;
    padding-top: 20px;
}
.leader{
    display: table-cell;
    width: 214px;
    margin: 0 auto;
    padding: 60px 10px 0px 10px;
    max-width: 550px;
}
.leader h5{
    color: white;
    font-size: 18px;
}
.leader h6{
    padding-top: 4px;
    color: #989898;
    font-size: 14px;
}
.leader p{
    padding-top: 4px;
    width: 214px;
    color: white;
    font-size: 12px;
}
.middle5_bottom{
    margin-top: 153px;
}
.middle5_bottom h6{
    color: white;
    font-size: 26px;
    letter-spacing: 2px;
    margin-bottom: 60px;
}
.middle5_bottom p{
    color: #0daedf;
    font-size: 33px;
    letter-spacing: 17px;
    padding-top: 4px;
}
.middle5_bottom img{
    margin-bottom: 80px;
}
.business{
    color:white;
    font-size: 48px;
}
.main_middle6{
    width: 100%;
    height: auto;
    background: url("../img/bk4.jpg")no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.animate{
    transform: scale(.6);
    -ms-transform: scale(.6);
    -webkit-transform: scale(.6);
    opacity: .4;
}
.fadeTop{
    position: relative;
    animation:ft 1s 1 ease-in forwards;  -webkit-animation:ft 1s 1 ease-in forwards;
    -webkit-animation:ft 1s 1 ease-in forwards;
}
.contact{
    width: 100%;
    background-color: #5e5e5e;
    padding-bottom: 100px;
}
.contact h5{
    color: white;
    font-size: 48px;
    margin-top: 0px !important;
    padding-top: 40px;
    letter-spacing: 2px;
}
.contact h6{
    color: white;
    font-size: 28px;
    margin-top: 0px !important;
    padding-top: 10px;
    letter-spacing: 2px;
}
.third{
    margin-top: 40px;
    padding-top: 40px;
    padding-left: 2%;
    padding-bottom: 40px;
    max-width: 500px;
    background-color: #23303a;
}
.contact td{
    color: white;
}
@-webkit-keyframes ft{
    0%{
        transform: scale(.6);
        -ms-transform: scale(.6);
        -webkit-transform: scale(.6);
    }
    100%{
        opacity: 1;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
}
.bg1{
    background:url('../img/20171201.jpg') no-repeat center;
}
.bg2{
    background:url("../img/20171202.jpg") no-repeat center;
}
.bg3{
    background:url("../img/20171203.jpg") no-repeat center;
}
.bg1,.bg2,.bg3{
    -webkit-background-size:100% 548px ;
    background-size:100%  548px ;
    height:548px !important;
    position: relative;
}
.overlay{
    background-color: rgba(40, 57, 77, 0.39);
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index:-1;
}
.fwiget{
    margin-left: 100px;
    margin-top: 60px;
}
.textwidget{
    display: inline-block;
    line-height: 30px;
    padding: 0;
}
.textwidget span{
    display: block;
    padding-top: 4px;
    color: #ffffff;
    font-size: 12px;
}
.right{
    position: relative;
    top:14%;
}
.add{
    position: relative;
    top: 15%;
    padding-left: 7.6%;
    font-size: 10px;
    color: white;
}
@media screen and (max-width: 1100px){
    .circle_b{
        display: none;
    }
    .sjb{
        float: none;
    }
}
@media screen and (max-width: 981px){
    .middle3_h{
        color: #0dadde;
        font-size: 26px;
        padding-top: 60px;
    }
    .middle3_h1{
        color: #0dadde;
        font-size: 34px;
        letter-spacing: 14px;
    }
    .icon1{
        display: block;
        height: 11%;
        margin-top:40px;
    }
    .middle3_bottom p{
        font-size:25px;
    }
    .b_icon{
        padding: 40px;
        width: 55%;
        height: 30%;
        display: block;
    }
    .a{
        width: 60%;
        display: block;
        margin-bottom: 20px;
    }
    .d{
        display: block;
        width: 60%;
    }
    .leader{
        display: block;
        margin: 0 auto;
        max-width: 550px;
    }
    .middle5_bottom img{
        padding:25px;
        display: block;
    }
    .top_right{
        display: none;
    }
    .top_right2{
        float: right;
        position: fixed;
        top:16px;
        right: 4%;
        display: table-cell;
    }
    .top_right2 td{
        padding-right: 20px;
    }

    .add{
        position: relative;
        top: 15%;
        font-size: 10px;
        color: white;
    }
    .bg1,.bg2,.bg3{
        -webkit-background-size:100% 400px ;
        background-size:100%  400px ;
        height:400px !important;
        position: relative;
    }
    .dashed{
        display: none;
    }
    .rr{
        position: inherit;
        margin-top:40px;
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 786px){
    #name{
        width: 98%;
        height: 20.5%;
        background-color: #eee;
        margin-top: 20px;
        border: 0;
        display: block;
    }
    #email{
        width: 98%;
        height: 20.5%;
        background-color: #eee;
        margin-top: 20px;
        border: 0;
        display: block;
        margin-left: 0px;
    }
    .sc_text1{
        position: relative;
        left: 20%;
        top: 18px;
        width: 60%;
    }
    .sc_text1 h6{
        font-size: 42px;
        color: #ffffff;
    }
    .sc_text1 span{
        font-size: 32px;
        color: #ffffff;
    }
    .sc_text1 p{
        font-size: 15px;
        color: #ffffff;
        padding-top: 20px;
        width: 60%;
    }
    .sc_text2{
        position: relative;
        left: 20%;
        top: 80px;
        width: 60%;
    }
    .sc_text2 h6{
        font-size: 42px;
        color: #ffffff;
    }
    .sc_text2 span{
        font-size: 32px;
        color: #ffffff;
    }
    .sc_text2 p{
        font-size: 15px;
        color: #ffffff;
        padding-top: 20px;
        width: 60%;
    }
    .sc_text3{
        position: relative;
        left: 20%;
        top: 18px;
        width: 60%;
    }
    .sc_text3 h6{
        font-size: 42px;
        color: #ffffff;
    }
    .sc_text3 span{
        font-size: 32px;
        color: #ffffff;
    }
    .sc_text3 p{
        font-size: 15px;
        width: 60%;
        color: white;
        padding-top: 10px;
    }
}
@media screen and (max-width: 600px){
    .third{
        width: 100%;
    }
    .main_top{
        height: 54px;
        width: 100%;
        background: rgba(0,0,0,.83);
        opacity: 1;
        position: fixed;
        top:0;
        z-index:99;
    }
    .logo{
        font-size: 30px;
        line-height: 54px;
    }
    .row img{
        height: 100px;
    }
}
@media screen and (max-width: 391px){
    .main_middle4 p{
        font-size: 20px;
    }
}
